*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 450px;
    background-image: url("bg_image-nav.png");
    background-size: cover;
    /* display: flex; */
    justify-content: center;
}

.nav-elements{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    /* justify-content: space-around; */
    list-style-type: none;
    padding: 25px;
    text-decoration:double;
    height: 40px;
    
}


a{
    text-decoration: none;  
    color: white;
}

#left-nav{
    display: flex;
    width: 600px;
    padding-left: 70px;
    font-size: 15px;

}

.right-nav{
    width: 150px;
    display: flex;
    justify-content:space-evenly;
    padding-right: 50px;
    font-size: 20px;
}

.logo{
    display: block;
    align-items: center;
    justify-items: center;
    /* display: inline-block; */

}

.logo img{
    display: block;
    height: 60px;
    width: 300px;
    padding-top: 30px;
    margin: 0 auto;

}


.msg{
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 100px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}
