*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 450px;
    background-image: url("bg_image-nav.png");
    background-size: cover;
    display: flex;
    justify-content: center;
}

.nav-elements{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    /* justify-content: space-around; */
    list-style-type: none;
    padding: 25px;
    text-decoration:double;
    height: 40px;
}



a{
    text-decoration: none;
    color: white;
}

#left-nav{
    display: flex;
    width: 600px;
}

.right-nav{
    width: 130px;
    display: flex;
    justify-content:space-evenly;
    padding-right: 50px;
}

